
.submit-button:hover {
	background-color: #fff;
}
input[type=button] .submit-button {
	padding: 5px 5px;
	color: white;
	background-color: #0AAA6D;
	border-radius: 10px;
}

@media (prefers-color-scheme: dark) {
  :where(body) {
    --background-color: hsl(228, 5%, 15%);
    --text-color: hsl(228, 5%, 80%);
}
}